<div class="loginform">

  <h1 class="logintitle">LOGIN</h1>

  <%= form_tag sessions_path do %>
    <div class="emailtag">
    <%= label_tag :email %><br>
    </div>
    <%= text_field_tag :email %><br>

    <%= label_tag :password %><br>
    <%= password_field_tag :password %><br>

    <%= submit_tag "Log in", class:"btn" %>
  <% end %>

</div>
