<h1>Edit User Info</h1>

<%= form_for @user do |f| %>

  <div class="form_field">
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
  </div>

  <div class="form_field">
   <%= f.label :last_name %>
    <%= f.text_field :last_name %>
  </div>

  <div class="form_field">
    <%= f.label :email %>
    <%= f.email_field :email %>
  </div>



  <p>Want to change your password? Do it here.</p>

  <div class="form_field">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>

  <div class="form_field">
    <%= f.label "Re-write password" %>
    <%= f.password_field :password_confirmation %>
  </div>

  <div class="submit">
    <%= f.submit %>
  </div>

<% end %>
