<h1>New Project</h1>

<%= form_for @project do |f| %>
<!-- Project fields-->
  <div class="field">
    <%= f.label "Image"%><br>
    <%= f.file_field :image %>
  </div>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">

    <%= f.label :description %>
    <%= f.text_area :description, placeholder: "Write a description ", :maxlength=>"135" %>
  </div>

  <div class="field">
    <%= f.label :category %>
    <%= select_tag "category", options_for_select([['Art' ,'Art'], ['Tech', 'Tech']]) %>

  </div>

  <div class="field">
    <%= f.label :location %>
    <%= f.text_field :location %>
  </div>

  <div class="field">
    <%= f.label :goal %>
    <%= f.number_field :goal, min: 1 %>
  </div>

  <div class="field">
    <%= f.label :deadline %>
    <%= f.date_field :deadline %>
  </div>

  <!--  Rewards fields-->

  <div class="field">
    <h2>New Reward</h2>
    <%= f.fields_for :rewards do |rewards_fields| %>
    <div class="field">
      <%= rewards_fields.label :name %>
      <%= rewards_fields.text_field :name %>
    </div>

    <div class="field">
      <%= rewards_fields.label :description %>
      <%= rewards_fields.text_field :description %>
    </div>

    <div class="field">
      <%= rewards_fields.label :amount %>
      <%= rewards_fields.number_field :amount %>
    </div>
    <% end %>
  </div>

  <%= f.submit %>
<% end %>
