<h1><%= @project.name %></h1>

Description: <%= @project.description %><br />
Goal: $<%= @project.goal %><br />
Category: <%= @project.category %><br />
Location: <%= @project.location %><br />
Deadline: <%= @project.deadline %><br />
Image: <%= image_tag @project.image_url.to_s %> <br />


<%= render 'form' %>


<p>
  There are <%= @project.deadline %> days left in this project. Still needs Y funding
</p>

<% @project.rewards.each do |reward| %>
  Name: <%= reward.name %>
  description: <%= reward.description %>
  Amount: <%= reward.amount %>

<% end %>
