<h1>Project</h1>

Name :<%= @project.name%><br />
Description: <%= @project.description %><br />
Goal: $<%= @project.goal %><br />
Category: <%= @project.category %><br />
Location: <%= @project.location %><br />
Deadline: <%= @project.deadline %><br />
Image: <%= image_tag @project.image_url.to_s %> <br />

<%= @project.rewards.each do |reward| %>
  Name: <%= reward.name %>
  description: <%= reward.description %>
  Amount: <%= reward.amount %>
<% end %>
