<!DOCTYPE html>
<html>
<head>
  <title>Crowdfunder</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.js' %>

  <%= csrf_meta_tags %>
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous"> -->

</head>
<body>

  <nav class="mainnav">

    <div class="navlinks">

      <% if current_user %>

      <div class="logout">
         <%= link_to "LOG OUT", session_path("current"), method: :delete %>
      </div>

       <% else %>

      <div class="signuplogin">
         <%= link_to "SIGN UP", new_user_path %> /
         <%= link_to "LOGIN", new_session_path%>
      </div>

       <% end %>

      <div class="startproject">
        <%= link_to 'START A PROJECT', new_project_path%>
      </div>

      <div>
      <%= link_to(image_tag("booster_logo_white.png", :alt => "home image", :width => 320, :height => 130, class: "logo_home", :title => "Click here to return to Home"), root_path) %>
      </div>

    </div>

  </nav>

     <% if flash[:alert] %>
       <p><%= flash[:alert] %></p>
     <% end %>


  <%= yield %>
  <%= console %>

</body>
</html>
