<!DOCTYPE html>
<html>
<head>
  <title>Crowdfunder</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.js' %>

  <%= csrf_meta_tags %>
</head>
<body>

  <nav class="mainnav">

      <%= image_tag 'booster_logo_white.png', width: 405, height: 120, alt: 'logo', class: "logo_home"%>

    <div class="navlinks">
      <% if current_user %>
         <%= link_to "LOG OUT", session_path("current"), method: :delete %> |
       <% else %>
         <%= link_to "SIGN UP", new_user_path %> |
         <%= link_to "LOGIN", new_session_path %> |
       <% end %>
       <%= link_to "Home", root_path %>
    </div>
    <%= link_to 'New Project', new_project_path %>
  </nav>

     <% if flash[:alert] %>
       <p><%= flash[:alert] %></p>
     <% end %>


  <%= yield %>

</body>
</html>
